* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  margin-bottom: 2rem;
}

ul{
  list-style: none;
}

ul>li{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid lightslategray;
}
ul>li:last-child{
  border: none;
}

.text_style>i{
  text-decoration: none;
}

.container{
  margin: 2rem auto;
  width: 800px;
  text-align: center;
}

.text_style{
  text-decoration: line-through;
}

.add_todo{
  margin-bottom: 2rem;
}

.add_todo input,
.add_todo button{
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid lightgray;
}

.add_todo input{
  margin-right: 1rem;
}

.list_todo{
  background-color: lightgray;
  border-radius: 0.75rem;
  padding: 1.5rem;
  display: flex;
}

.todo_delete,
.todo_complete,
.todo_main{
  background-color: white;
  border-radius: 0.5rem;
  margin: 1rem;
  padding-top: 1rem;
  width: calc(100% / 3);
}